<a href="https://colab.research.google.com/github/DinaHM99/Analyzing-UCI-crimes-and-communities/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode,iplot
init_notebook_mode(connected=True)
from sklearn import linear_model
from sklearn.model_selection import train_test_split,KFold,cross_val_score
import re
import json
from pandas.io.json import json_normalize

In [2]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/communities/communities.data',header=None)

In [3]:
df

,0,1,2,3,4,5,6,7,8,9,...,118,119,120,121,122,123,124,125,126,127
0,8,?,?,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
2,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1989,12,?,?,TempleTerracecity,10,0.01,0.40,0.10,0.87,0.12,...,0.01,0.28,0.05,?,?,?,?,0.00,?,0.09
1990,6,?,?,Seasidecity,10,0.05,0.96,0.46,0.28,0.83,...,0.02,0.37,0.20,?,?,?,?,0.00,?,0.45
1991,9,9,80070,Waterburytown,10,0.16,0.37,0.25,0.69,0.04,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1992,25,17,72600,Walthamcity,10,0.08,0.51,0.06,0.87,0.22,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1993,6,?,?,Ontariocity,10,0.20,0.78,0.14,0.46,0.24,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

In [4]:
df = df.rename(columns = {0: 'State', 1: 'Country', 2: 'Community', 3: 'communityName', 4: 'fold', 5: 'population', 6: 'householdSize', 7: 'racepctblack', 8: 'racePctWhite', 9:'racPctAsian',10: 'racePctHisp', 11: 'agePct12t21', 12: 'agePct12t29', 13: 'agePct16t24', 14: 'agePct65up', 15: 'numbUrban', 16: 'pctUrban', 17: 'medIncome', 18: 'pctWWage', 19: 'pctWFarmSelf', 20: 'pctWInvInc', 21: 'pctWSocSec', 22: 'pctWPubAsst', 23: 'pctWRetire', 24: 'medFamInc', 25: 'perCapInc', 26: 'whitePerCap', 27: 'blackPerCap', 28: 'indianPerCap', 29: 'AsianPerCap', 30: 'OtherPerCap', 31: 'HispPerCap', 32: 'NumUnderPov', 33: 'PctPopUnderPov', 34: 'PctLess9thGrade', 35: 'PctNotHSGrad', 36: 'PctBSorMore', 37: 'PctUnemployed', 38: 'PctEmploy', 39: 'PctEmplManu', 40: 'PctEmplProfServ', 41: 'PctOccupManu', 42: 'PctOccupMgmtProf', 43: 'MalePctDivorce', 44: 'MalePctNevMarr', 45: 'FemalePctDiv', 46: 'TotalPctDiv', 47: 'PersPerFam', 48: 'PctFam2Par', 49: 'PctKids2Par', 50: 'PctYoungKids2Par', 51: 'PctTeen2Par', 52: 'PctWorkMomYoungKids', 53: 'PctWorkMom', 54: 'NumKidsBornNeverMar', 55: 'PctKidsBornNeverMar', 56: 'NumImmig', 57: 'PctImmigRecent', 58: 'PctImmigRec5', 59: 'PctImmigRec8', 60: 'PctImmigRec10', 61: 'PctRecentImmig', 62: 'PctRecImmig5', 63: 'PctRecImmig8', 64: 'PctRecImmig10', 65: 'PctSpeakEnglOnly', 66: 'PctNotSpeakEnglWell', 67: 'PctLargHouseFam', 68: 'PctLargHouseOccup', 69: 'PersPerOccupHous', 70: 'PersPerOwnOccHous', 71: 'PersPerRentOccHous', 72: 'PctPersOwnOccup', 73: 'PctPersDenseHous', 74: 'PctHousLess3BR', 75: 'MedNumBR', 76: 'HousVacant', 77: 'PctHousOccup', 78: 'PctHousOwnOcc', 79: 'PctVacantBoarded', 80: 'PctVacMore6Mos', 81: 'MedYrHousBuilt', 82: 'PctHousNoPhone', 83: 'PctWOFullPlumb', 84: 'OwnOccLowQuart', 85: 'OwnOccMedVal', 86: 'OwnOccHiQuart', 87: 'OwnOccQrange', 88: 'RentLowQ', 89: 'RentMedian', 90: 'RentHighQ', 91: 'RentQrange', 92: 'MedRent', 93: 'MedRentPctHousInc', 94: 'MedOwnCostPctInc', 95: 'MedOwnCostPctIncNoMtg', 96: 'NumInShelters', 97: 'NumStreet', 98: 'PctForeignBorn', 99: 'PctBornSameState', 100: 'PctSameHouse85', 101: 'PctSameCity85', 102: 'PctSameState85', 103: 'LemasSwornFT', 104: 'LemasSwFTPerPop', 105: 'LemasSwFTFieldOps', 106: 'LemasSwFTFieldPerPop', 107: 'LemasTotalReq', 108: 'LemasTotReqPerPop', 109: 'PolicReqPerOffic', 110: 'PolicPerPop', 111: 'RacialMatchCommPol', 112: 'PctPolicWhite', 113: 'PctPolicBlack', 114: 'PctPolicHisp', 115: 'PctPolicAsian', 116: 'PctPolicMinor', 117: 'OfficAssgnDrugUnits', 118: 'NumKindsDrugsSeiz', 119: 'PolicAveOTWorked', 120: 'LandArea', 121: 'PopDens', 122: 'PctUsePubTrans', 123: 'PolicCars', 124: 'PolicOperBudg', 125: 'LemasPctPolicOnPatr', 126:'LemasGangUnitDeploy', 127: 'ViolentCrimesPerPop'}, inplace = False)

In [5]:
print(df)

      State Country Community        communityName  fold  population  \
0         8       ?         ?         Lakewoodcity     1        0.19
1        53       ?         ?          Tukwilacity     1        0.00
2        24       ?         ?         Aberdeentown     1        0.00
3        34       5     81440  Willingborotownship     1        0.04
4        42      95      6096    Bethlehemtownship     1        0.01
...     ...     ...       ...                  ...   ...         ...
1989     12       ?         ?    TempleTerracecity    10        0.01
1990      6       ?         ?          Seasidecity    10        0.05
1991      9       9     80070        Waterburytown    10        0.16
1992     25      17     72600          Walthamcity    10        0.08
1993      6       ?         ?          Ontariocity    10        0.20

      householdSize  racepctblack  racePctWhite  racPctAsian  ...  \
0              0.33          0.02          0.90         0.12  ...
1              0.16          0.12          0.74         0.45  ...
2              0.42          0.49          0.56         0.17  ...
3              0.77          1.00          0.08         0.12  ...
4              0.55          0.02          0.95         0.09  ...
...             ...           ...           ...          ...  ...
1989           0.40          0.10          0.87         0.12  ...
1990           0.96          0.46          0.28         0.83  ...
1991           0.37          0.25          0.69         0.04  ...
1992           0.51          0.06          0.87         0.22  ...
1993           0.78          0.14          0.46         0.24  ...

      NumKindsDrugsSeiz  PolicAveOTWorked  LandArea  PopDens  PctUsePubTrans  \
0                  0.12              0.26      0.20     0.06            0.04
1                  0.02              0.12      0.45        ?               ?
2                  0.01              0.21      0.02        ?               ?
3                  0.02              0.39      0.28        ?               ?
4                  0.04              0.09      0.02        ?               ?
...                 ...               ...       ...      ...             ...
1989               0.01              0.28      0.05        ?               ?
1990               0.02              0.37      0.20        ?               ?
1991               0.08              0.32      0.18     0.08            0.06
1992               0.03              0.38      0.33     0.02            0.02
1993               0.11              0.30      0.05     0.08            0.04

      PolicCars  PolicOperBudg  LemasPctPolicOnPatr  LemasGangUnitDeploy  \
0           0.9            0.5                 0.32                 0.14
1             ?              ?                 0.00                    ?
2             ?              ?                 0.00                    ?
3             ?              ?                 0.00                    ?
4             ?              ?                 0.00                    ?
...         ...            ...                  ...                  ...
1989          ?              ?                 0.00                    ?
1990          ?              ?                 0.00                    ?
1991       0.78              0                 0.91                 0.28
1992       0.79              0                 0.22                 0.18
1993       0.73            0.5                 1.00                 0.13

      ViolentCrimesPerPop
0                    0.20
1                    0.67
2                    0.43
3                    0.12
4                    0.03
...                   ...
1989                 0.09
1990                 0.45
1991                 0.23
1992                 0.19
1993                 0.48

[1994 rows x 128 columns]

In [6]:
df.head()

,State,Country,Community,communityName,fold,population,householdSize,racepctblack,racePctWhite,racPctAsian,...,NumKindsDrugsSeiz,PolicAveOTWorked,LandArea,PopDens,PctUsePubTrans,PolicCars,PolicOperBudg,LemasPctPolicOnPatr,LemasGangUnitDeploy,ViolentCrimesPerPop
0,8,?,?,Lakewoodcity,1,0.19,0.33,0.02,0.90,0.12,...,0.12,0.26,0.20,0.06,0.04,0.9,0.5,0.32,0.14,0.20
1,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,0.45,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
2,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,0.17,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
3,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,0.12,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
4,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,0.09,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03

In [7]:
df.columns

Index(['State', 'Country', 'Community', 'communityName', 'fold', 'population',
       'householdSize', 'racepctblack', 'racePctWhite', 'racPctAsian',
       ...
       'NumKindsDrugsSeiz', 'PolicAveOTWorked', 'LandArea', 'PopDens',
       'PctUsePubTrans', 'PolicCars', 'PolicOperBudg', 'LemasPctPolicOnPatr',
       'LemasGangUnitDeploy', 'ViolentCrimesPerPop'],
      dtype='object', length=128)

In [8]:
my_list = list(df)

In [9]:
print(my_list)

['State', 'Country', 'Community', 'communityName', 'fold', 'population', 'householdSize', 'racepctblack', 'racePctWhite', 'racPctAsian', 'racePctHisp', 'agePct12t21', 'agePct12t29', 'agePct16t24', 'agePct65up', 'numbUrban', 'pctUrban', 'medIncome', 'pctWWage', 'pctWFarmSelf', 'pctWInvInc', 'pctWSocSec', 'pctWPubAsst', 'pctWRetire', 'medFamInc', 'perCapInc', 'whitePerCap', 'blackPerCap', 'indianPerCap', 'AsianPerCap', 'OtherPerCap', 'HispPerCap', 'NumUnderPov', 'PctPopUnderPov', 'PctLess9thGrade', 'PctNotHSGrad', 'PctBSorMore', 'PctUnemployed', 'PctEmploy', 'PctEmplManu', 'PctEmplProfServ', 'PctOccupManu', 'PctOccupMgmtProf', 'MalePctDivorce', 'MalePctNevMarr', 'FemalePctDiv', 'TotalPctDiv', 'PersPerFam', 'PctFam2Par', 'PctKids2Par', 'PctYoungKids2Par', 'PctTeen2Par', 'PctWorkMomYoungKids', 'PctWorkMom', 'NumKidsBornNeverMar', 'PctKidsBornNeverMar', 'NumImmig', 'PctImmigRecent', 'PctImmigRec5', 'PctImmigRec8', 'PctImmigRec10', 'PctRecentImmig', 'PctRecImmig5', 'PctRecImmig8', 'PctRecImmig10', 'PctSpeakEnglOnly', 'PctNotSpeakEnglWell', 'PctLargHouseFam', 'PctLargHouseOccup', 'PersPerOccupHous', 'PersPerOwnOccHous', 'PersPerRentOccHous', 'PctPersOwnOccup', 'PctPersDenseHous', 'PctHousLess3BR', 'MedNumBR', 'HousVacant', 'PctHousOccup', 'PctHousOwnOcc', 'PctVacantBoarded', 'PctVacMore6Mos', 'MedYrHousBuilt', 'PctHousNoPhone', 'PctWOFullPlumb', 'OwnOccLowQuart', 'OwnOccMedVal', 'OwnOccHiQuart', 'OwnOccQrange', 'RentLowQ', 'RentMedian', 'RentHighQ', 'RentQrange', 'MedRent', 'MedRentPctHousInc', 'MedOwnCostPctInc', 'MedOwnCostPctIncNoMtg', 'NumInShelters', 'NumStreet', 'PctForeignBorn', 'PctBornSameState', 'PctSameHouse85', 'PctSameCity85', 'PctSameState85', 'LemasSwornFT', 'LemasSwFTPerPop', 'LemasSwFTFieldOps', 'LemasSwFTFieldPerPop', 'LemasTotalReq', 'LemasTotReqPerPop', 'PolicReqPerOffic', 'PolicPerPop', 'RacialMatchCommPol', 'PctPolicWhite', 'PctPolicBlack', 'PctPolicHisp', 'PctPolicAsian', 'PctPolicMinor', 'OfficAssgnDrugUnits', 'NumKindsDrugsSeiz', 'PolicAveOTWorked', 'LandArea', 'PopDens', 'PctUsePubTrans', 'PolicCars', 'PolicOperBudg', 'LemasPctPolicOnPatr', 'LemasGangUnitDeploy', 'ViolentCrimesPerPop']

In [10]:
print(df['ViolentCrimesPerPop'].min(),
      df['ViolentCrimesPerPop'].max(),
      df['ViolentCrimesPerPop'].mean(),
      df['ViolentCrimesPerPop'].std(),
      df['ViolentCrimesPerPop'].median())

0.0 1.0 0.23797893681043028 0.2329849017279638 0.15